.carta-categoria-container {
  position: relative;
  padding: 15px 0;
  background-color: var(--background);
}
.carta-separadorHorizontal {
  position: relative;
  width: calc(100% - 30px);
  height: 1px;
  margin: 0 15px;
  background-color: var(--icon-enabled);
}
.carta-categoria-titulo {
  margin-left: 15px;
  font-weight: 400 !important;
}
.carta-categoria-tabla {
  position: relative;
  width: calc(100% - 30px);
  left: 15px;
  table-layout: fixed;
}
.carta-itemNombre {
  font-size: 14px;
  font-family: Archivo, sans-serif;
  font-weight: 500;
  width: 84%;
  overflow: hidden;
  white-space: nowrap;
}
.carta-itemPrecio {
  font-family: Archivo, sans-serif;
  font-weight: 500;
  text-align: end;
  color: var(--icon-enabled);
}
@media screen and (min-width: 600px) {
  .container-carta {
    position: relative;
    width: 60%;
    left: 20%;
  }
}
@media screen and (min-width: 900px) {
  .container-carta {
    position: relative;
    width: 50%;
    left: 25%;
  }
}
