.container-carta {
  margin-bottom: 200px;
  background-color: var(--background);
}
.menuDelDia-carta-container {
  position: relative;
  width: calc(100% - 30px);
  left: 15px;
  top: 35px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}
.menuDelDia-carta-imgContainer {
  position: relative;
  width: 100%;
}
.menuDelDia-carta-almuerzoEjecutivo {
  position: absolute;
  height: 36px;
  border-radius: 18px;
  width: auto;
  right: 20px;
  top: 14px;
  background-color: var(--icon-enabled);
}
.menuDelDia-carta-almuerzoEjecutivo h6 {
  color: white;
  padding: 0 14px;
  margin: 0;
  line-height: 36px;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
}
.menuDelDia-carta-almuerzoEjecutivo.precio {
  position: relative;
  background-color: #c8b3ac;
  width: 110px;
  left: calc(100% - 110px);
}
.menuDelDia-carta-almuerzoEjecutivo.precio h6 {
  font-size: 18px;
  color: #7f4437;
}
.menuDelDia-carta-container img {
  width: 100%;
}
.menuDelDia-carta-texto {
  padding: 10px 10px;
}
.menuDelDia-carta-texto p {
  margin: 0;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--marron-logo);
}
.carta-categoria-container {
  position: relative;
  padding: 15px 0;
  background-color: var(--background);
  top: 20px;
}
.carta-separadorHorizontal {
  position: relative;
  width: calc(100% - 30px);
  height: 1px;
  margin: 0 15px;
  background-color: var(--icon-enabled);
}
.carta-categoria-titulo {
  margin-left: 15px;
  font-weight: 400 !important;
}
.carta-categoria-tabla {
  position: relative;
  width: calc(100% - 30px);
  left: 15px;
  table-layout: fixed;
}
.carta-itemNombre {
  font-size: 14px;
  font-family: Archivo, sans-serif;
  font-weight: 500;
  width: 84%;
  overflow: hidden;
  white-space: nowrap;
}
.carta-itemPrecio {
  font-family: Archivo, sans-serif;
  font-weight: 500;
  text-align: end;
  color: var(--icon-enabled);
}
@media screen and (min-width: 600px) {
  .menuDelDia-carta-imgContainer {
    width: 60%;
    left: 20%;
  }
  .menuDelDia-carta-texto {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  .menuDelDia-carta-texto p {
    text-align: center;
  }
  .menuDelDia-carta-almuerzoEjecutivo.precio {
    left: calc(50% - 55px);
  }
  .container-carta {
    position: relative;
    width: 60%;
    left: 20%;
    top: 30px;
  }
}
@media screen and (min-width: 900px) {
  .container-carta {
    position: relative;
    width: 50%;
    left: 25%;
  }
}
