.shows-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--background2);
}
.show-container {
  background-color: var(--background);
  position: relative;
  width: calc(100% - 30px);
  left: 15px;
  top: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  box-shadow: 0px 3px 11px 5px rgba(153, 153, 153, 1);
  -webkit-box-shadow: 0px 3px 11px 5px rgba(153, 153, 153, 1);
  -moz-box-shadow: 0px 3px 11px 5px rgba(153, 153, 153, 1);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.show-img__container {
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  aspect-ratio: auto 4 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.show-img {
  position: absolute;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.show-titulo {
  font-size: 32px;
  font-weight: 200;
  margin: 0 19px;
  margin-top: 15px;
  color: var(--marron-logo);
  line-height: 30px;
}
.show-subtitulo {
  font-family: "Archivo", sans-serif;
  margin: 10px 0 10px 19px;
  font-size: 14px;
  color: var(--marron-logo);
}
.descripcion-container {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.descripcion-container p {
  font-family: "Archivo", sans-serif;
  margin: 0 19px;
  font-size: 14px;
  color: var(--marron-logo);
}

/* .line-clamp {
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/*esta*/
/* .line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-box-decoration-break: clone; 
  box-decoration-break: clone;
  mask-image: linear-gradient(to top, transparent, black); 
} */

.fecha-container {
  position: relative;
  margin-top: 10px;
  background-color: var(--background3);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.iconoYFecha-container { 
  position: relative;
  display: flex;
  align-items: center;
}
.fechaBoton-container {
  position: relative;
  right: 12px;
}
.fecha-iconoSchedule {
  color: var(--icon-enabled);
  position: relative;
  display: inline;
  left: 22px;
  width: 48px;
  height: 24px;
}
.fecha-texto {
  font-family: "Archivo", sans-serif;
  color: var(--icon-enabled);
  font-size: 14px;
  font-size: clamp(14px, 1vw, 14px);
  font-weight: bold;
  position: relative;
  display: inline;
  margin-left: 8px;
}
.fecha-button {
  position: absolute;
  height: 32px;
  padding: 0 14px;
  color: var(--background);
  font-size: clamp(9px, 0.8vw, 14px);
  font-weight: 700;
  background-color: var(--marron-logo);
  border-radius: 16px;
  border: none;
  right: 12px;
}
.comprar-button {
  height: 40px;
  padding: 0 14px;
  color: var(--background);
  font-size: 14px;/* clamp(9px, 0.8vw, 14px); */
  font-weight: 500;
  background-color: var(--azulActivo);
  border-radius: 10px;
  border: none;
  right: 12px;
  bottom: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.comprar-button:hover {
 background-color: var(--azulApagado);
}
.shows-noHayMas {
  display: block;
  width: 80vw;
  text-align: center;
}
.pagination-container {
  position: relative;
  /* top: 40px; */
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding: 20px 0 20px 0;
}
.pagination-container p {
}
.pagination-container button {
  height: 32px;
  padding: 0 14px;
  color: var(--background);
  font-weight: 700;
  background-color: var(--azulActivo);
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.pagination-container button:hover {
 background-color: var(--azulApagado);
}

@media screen and (min-width: 600px) {
  .shows-container {
    width: 96%;
    left: 2%;
    top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }
  .elShow-imagen-container {
    /* height: 2000px; */
    overflow: hidden;
  }
  .show-container {
    justify-content: space-between;
    flex-direction: column;
    margin: 0 0 60px 0;
  }
  .show-img {
  }
  .show-dataContainer {
    position: relative;
    width: 100%;    
    /* height: calc(100% - 200px); */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    justify-content: space-between;
    height: 100%;
  }
  .show-descripcionContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .fecha-container {
    position: relative;
    flex-direction: column;
    width: auto;
    margin: 0px;
    bottom: 0;
    height: 100px;
  }
  .comprar-button {
    right: calc(50% - 40px);
  }
  .iconoYFecha-container { 
    justify-content: center;
  }
  .fecha-iconoSchedule {
    width: auto;
    left: 0px;
  }
  .fecha-texto {
    position: relative;
  }
  .fechaBoton-container {
    bottom: 10px;
  }
  
}
@media screen and (min-width: 900px) {
  .shows-container {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    left: 5%;
  }
  .fecha-container {
    flex-direction: row;
  }
  .iconoYFecha-container { 
    margin-left: 15px;
    padding-right: 25px;
    justify-content: start;
  }
  .fechaBoton-container {
    bottom: 0px;
  }
}
@media screen and (min-width: 1000px) {
  .fechaBoton-container {
    right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .shows-container {
    width: 76%;
    left: 12%;
  }
}
