.alert-container {
  position: fixed;
  height: 200px;
  top: calc(50vh - 100px);
  width: calc(100% - 20px);
  left: 10px;
  background-color: var(--gris-nav);
  border: solid 2px var(--marron-logo);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.alert-span {
  color: var(--marron-logo);
  font-family: Archivo, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
.alert-button {
  margin: 0;
  height: 37px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: var(--icon-enabled);
  color: #fff;
  font-family: Archivo, sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
