.input-descripcion,
.input-titulo {
  max-width: 100%;
}

.input-titulo,
.input-selectCategoria,
.input-orden {
  border: 1px solid #ccc;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0px;
  position: relative;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  min-width: 50%;
  max-width: 100%;
  font-style: italic;
}

.input-titulo::placeholder {
  font-style: italic;
}
.input-labelTitulo,
.input-labelOrden,
.input-labelDescripcion,
.input-labelPrecio,
.input-labelCategoria {
  display: block;
  font-size: 20px;
  margin-bottom: 4px;
  margin-top: 15px;
  font-family: Archivo, sans-serif;
}
.input-imagen {
  position: relative;
  height: auto;
}
.input-imagen-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
}
.input-imagen-input::before {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-imagen-input::after {
  content: "";
}
.input-imagen-input::before {
  content: "";
}
.imagenPreview {
  max-width: 100%;
  position: relative;
}
