.formShow-container {
  position: relative;
  width: auto;
  height: auto;
  margin: 15px;
  padding: 10px;
  border: solid 2px rgb(80, 80, 80);
}
.formShow-button-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
}
.headerDashboard-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
  left: 15px;
  margin: 20px 0;
}
.titulo-dashboard,
.dwHTML-titulo {
  font-family: Archivo, sans-serif;
  display: inline;
  font-weight: 700;
  font-size: 22px;
}
.buttonsLogoutEdit-Container {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
}
.buttonLogout-dashboard,
.formShow-button,
.buttonEdit-dashboard {
  display: inline;
  height: 37px;
  width: 120px;
  border: none;
  border-radius: 6px;
  background-color: var(--icon-enabled);
  color: #fff;
  font-family: Archivo, sans-serif;
  font-size: 16px;
  float: right;
}
.buttonEdit-dashboard {
  background-color: dodgerblue;
}
.titulo-form {
  font-family: Archivo, sans-serif;
  font-weight: 700;
  margin-top: 10px;
}
.dwHTMLtable {
  margin-top: 20px;
  border-collapse: collapse;
}
.dwHTMLrow-show {
  font-family: Archivo, sans-serif;
  border-bottom: 1px solid black;
  line-height: 30px;
}
.dwHTMLbutton-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.buttonDownload,
.buttonMostrarShows,
.formShow-button {
  position: relative;
  display: inline;
  background-color: dodgerblue;
  margin: 0;
  font-size: 14px;
}
.tablaHead {
  background-color: var(--icon-disabled);
  height: 30px;
}
.containter-tablaEditar {
}
