@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=DM+Serif+Display&display=swap");
/*
font-family: 'DM Serif Display', serif;
font-family: 'Archivo', sans-serif;
*/
:root {
  --gris-nav: #d8d5d4;
  --marron-logo: #231b18;
  --icon-enabled: #7f4437;
  --icon-disabled: #b7b7b7;
  --background: #e8e3df;
  --blanco: #fff;
  font-family: "DM Serif Display", serif;
  min-height: 150vh;
  position: relative;
  margin-bottom: 20px;
}

#root {
  min-height: 150%;
}

body {
  margin: 0;
  min-height: 100%;
  margin-bottom: 80px;
  background-color: var(--background);
}

.ql-container {
  min-height: 80px;
}

a:hover,
button:hover {
  cursor: pointer;
}
